html {
  box-sizing: border-box;
  background-color: #f0eee8;
  font: normal 100% /1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  display: block;
  background-color: #dcd4cd;
  color: #512200;
  text-decoration: none;
  border: solid #9a816d;
  padding: 1rem;
  border-radius: 3px;
}

.link-card:hover {
  border-color: #cabdb2;
  background-color: #9a816b;
}

p {
  color: #512200;
}

dd {
  width: 5em;
  line-height: 0;
  font-style: italic;
  float: right;
  margin-right: 5.5em;
}

.link-card  nav {
  color: #512200;
  font-size: .875rem;
  border-top: 2px;
  border-bottom: 2px;
}

dl {
  text-align: left;
}

.btn {
  background-color: #785439;
  color: #fff;
  font-size: 1.05rem;
  font-weight: bold;
  font-family: Dosis, sans-serif;
  display: inline-block;
  border-radius: 8px;
  padding: .4em .75em .5em;
}

.btn-wrap {
  margin: 1rem 0 0;
  text-align: center;
}

.link-card:hover .btn {
  background-color: #512200;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-weight: bold;
  color: #512200;
  margin: 0;
}
